
<%- include('../header') %>

<!-- Form Start -->
<div class="container-fluid pt-4 px-4">
    <div class="col-sm-12 col-xl-6">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Category Form</h6>

        <form method="post" action="/category/getcategorydata" enctype="multipart/form-data">

            <div class="mb-3">
                <label class="form-label">Enter Category Name</label>
                <input type="text" name="categoryName" class="form-control">
                <p style="color: red;"><%=(typeof errors!='undefined' && typeof errors.categoryName!='undefined' )? errors.categoryName.msg:''%></p>
            </div>
            <div class="mb-3">
                <input type="file" name="categoryImage">
                <p style="color: red;"><%=(typeof errors!='undefined' && typeof errors.categoryImage!='undefined' )? errors.categoryImage.msg:''%></p>
            </div>

            <input type="submit" class="btn-primary" value="Add Category">

        </form>

    </div>
    </div>
</div>

<%- include('../footer') %>